.about{
    margin-top: 30rem;
    width: 45rem;
    height: 25rem;
    margin-left: 24rem; 
    color: white;
}
@media only screen and (max-width: 800px) {
    .about{
        margin-top:2rem;
        width:60%;
        height: 18rem;
        padding-right: 90%;
        margin-left: 25%;
        font-size: larger;
    }
}