.container{
    width: 100%;
    height: 100vh;
    margin: 0;
    scroll-behavior:smooth;
    h1{
        color: white;
    }
    
}
.container:has(.entrada-container){
    background-image: url('../pi1.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

