.container{
    width: 100%;
    height: 100vh;
    margin: 0;
    scroll-behavior:smooth;
    h1{
        color: white;
    }
    
}
.container:has(.entrada-container){
    background-image: url('../pic1.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

@media only screen and (max-width: 720px){
    .container{
        width: 100vw;
        height: 100vh;
        margin: 0;
        scroll-behavior:smooth;
        h1{
            color: white;
        }
        
    }
    .container:has(.entrada-container){
        background-image: url('../pic1.jpg');
        background-repeat:repeat;
        background-size:contain;
        width: 600px;
    }
    
}