.header-container {
    width: 100vw;
    display: flex;
    justify-content:space-between;
    margin-left: 1rem;
    margin-top: 0;
    margin-right: 1rem;
    position: fixed;
    input{
      display: none;
    }
    h1{
      margin-left: 2rem;
      color: white;
    }
    
    nav {
        margin-right: 3rem;
        
        width: 100%;
      }
      nav ul {
        list-style: none;
        text-align:justify;
      }
      nav ul li {
        display: inline-block;
      }
      nav ul li a {
        display: block;
        padding: 2px;
        text-decoration: none;
        color: #aaa;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 10px;
      }
      nav ul li a,
      nav ul li a:after,
      nav ul li a:before {
        transition: all .5s;
      }
      nav ul li a:hover {
        color: #ff0b0b7c;
      }
      
      nav.stroke ul li a{
        position: relative;
      }
      nav.stroke  li a:after{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #ff5b5b;
        height: 1px;
      }
      nav.stroke ul li a:hover:after {
        width: 100%;
      }
      
  }

@media only screen and (max-width: 800px) {
  .header-container {
    width: 100%;
    display: flex;
    justify-content:space-between;
    position: fixed;
    h1{
      color: white;
      font-size: medium;
      margin-right: 1rem;
    }}
    
}