header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-top: 0;
  margin-right: 1rem;
  position: fixed;

  h1 {
    margin-left: 2rem;
    color: white;
  }

  .stroke {
    display: flex;
    flex-direction: row;
  }

  nav {
    margin-right: 3rem;
    overflow: hidden;
    width: 100%;

  }

  .trigger {
    display: none;
  }

  nav ul {
    list-style: none;
    text-align: justify;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    display: block;
    padding: 2px;
    text-decoration: none;
    color: #aaa;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 10px;
  }

  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }

  nav ul li a:hover {
    color: #ff0b0b7c;
  }

  nav.stroke ul li a {
    position: relative;
  }

  nav.stroke li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ff5b5b;
    height: 1px;
  }

  nav.stroke ul li a:hover:after {
    width: 100%;
  }

}


/*  Breakpoint para celulares */


@media only screen and (max-width: 620px) {
  header {
    display: none;
  }

  header.is-open {
    display: block;
    margin-top: 2rem;
    text-align: center;
    nav ul li{
      margin-right: 0.3rem;
      overflow: hidden;
      width: 100%;
      display: block;
    }
  }

  li {
    list-style: none;
    color: white;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .trigger {
    margin-top: 1.8rem;
    margin-right: 2rem;
    font-size: large;
  }

  .logo {
    margin-left: 1rem;
    font-size: small;
  }
}